apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "15s"

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres-primary:5432
    database: nexus_data
    user: admin
    secureJsonData:
      password: admin123
    jsonData:
      sslmode: 'disable'
      maxOpenConns: 100
      maxIdleConns: 100
      connMaxLifetime: 14400
    editable: true

  - name: ClickHouse
    type: vertamedia-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    editable: true
    jsonData:
      username: admin
      defaultDatabase: default
    secureJsonData:
      password: admin123
